a{
    text-decoration: none;
    color: #000;
}

h2{
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #2D2D2D;
}

ul{
    list-style-type:  none;
}

.header-menu{
    margin-top: 15px;
    margin-left: -28px;
    display: flex;
    gap: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #545454;
}

.header-menu__position{
    border-right: 1px solid rgb(236, 232, 232);
    padding-right: 18px; 
}

.header-contact{
    margin-top: 15px;
    margin-left: 222px;
    display: flex;
    gap: 18px;
}

.header-information{
    margin-left: 279px;
    display: flex;
    gap: 78px;
}

.header-information__text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-information__text-market{
    margin-top: 10%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F6030F;
}

.header-information__text-trade{
    margin-top: 10%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #10B008;
}

.header-information__text-cache{
    margin-top: 10%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #556DE6;
}

.header-information__text-explanation{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #A7A7A7;
}

main{
    margin-top: 10px;
    margin-bottom: 20%;
}

.bread_crumbs{
    margin-bottom: 25px;
}

.poster__header{
    position: absolute;
    width: 312px;
    height: 72px;
    left: 417px;
    top: 195px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #404040;
}

.poster__text{
    position: absolute;
    width: 310px;
    height: 72px;
    left: 417px;
    top: 269px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #404040;
}

.poster__button{
    position: absolute;
    width: 196px;
    height: 48px;
    left: 417px;
    top: 367px;
    background: #0000E9;
    border-radius: 5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.about-us{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-us__text{
    margin-top: 97px;
    padding-right: 64px;
}

.scheme{
    display: flex;
    gap: 25px;
}

.scheme__block{
    width: 73%;
    height: 49%;
    margin-top: 40px;
    margin-bottom: 120px;
    margin-left: 34px;
    display: flex;
    gap: 30px;
    background: #FFFFFF;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    text-align: center;
}

.scheme__block-text{
    padding: 35px;
}

.start-sales{
    height: 493px ;
}

.start-sales__steps-number-one{
    position: absolute;
    width: 194px;
    height: 178px;
    left: 544px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 150px;
    line-height: 178px;
    color: rgba(186, 186, 186, 0.2);
}

.start-sales__steps-text-one{
    position: absolute;
    width: 392px;
    height: 48px;
    left: 629px;
    top: 1855px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D2D2D;
}

.start-sales__steps-number-two{
    position: absolute;
    width: 192px;
    height: 178px;
    left: 960px;
    top: 1875px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 150px;
    line-height: 178px;
    color: rgba(186, 186, 186, 0.2);
}

.start-sales__steps-text-two{
    position: absolute;
    width: 392px;
    height: 48px;
    left: 1058px;
    top: 1955px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D2D2D;
}


.start-sales__steps-number-three{
    position: absolute;
    width: 194px;
    height: 178px;
    left: 544px;
    top: 2000px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 150px;
    line-height: 178px;
    color: rgba(186, 186, 186, 0.2);
}

.start-sales__steps-text-three{
    position: absolute;
    width: 376px;
    height: 48px;
    left: 642px;
    top: 2059px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D2D2D;
}

.start-sales__steps-button{
width: 196px;
height: 48px;
background: #0000E9;
border-radius: 5px;
margin-top: 448px;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}

.bg-grey{
    margin-top: 115px;
    margin-bottom: 149px;
    background-color: #E1E1E1;
}

.main-information{
    margin-top: 105px;
    margin-bottom: 105px;
}

.main-information__data{
    display: flex;
    text-align: center;
}

.main-information__data-number{
    padding-top: 60px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 76px;
    color: #2D2D2D;
}

.main-information__data-text{
    text-decoration: overline;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #2D2D2D;
}

.become-supplier{
    display: flex;
}

.become-supplier__form{
    margin-top: 61px;
}

.become-supplier__form-header{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #898888;
}

.become-supplier__form-text{
    margin-bottom: 32px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #898888;
}

.become-supplier__form-control{
    width: 496px;
    height: 46px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #898888;
}

.footer-logo{
    text-align: center;
    margin-bottom: 20px;
}

.footer-contact{
    margin-left: 123px;
    width: 58%;
    text-align: center;
    margin-bottom: 20px;
}

.footer-contact__tel{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color: #898989;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-information{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #9F9F9F;
}

.footer-menu{
    display: flex;
    gap: 104px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;color: #656565;
}

.footer-navigation{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}

.footer-navigation__item-title{
    margin-left: 31px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #656565;
}

.footer-navigation__item-list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26p;
    color: #656565;
}

.footer__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
}